@model Servicies.OfficeAssignments.Dto.OfficeAssignmentsDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Teacher"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Teacher.FullName">@Model.Teacher.FullName</label>
        </dd>
        <dt>
            <label asp-for="Location"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Location">@Model.Location</label>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Home">Back to home</a>
    </form>
</div>
