@model Servicies.OfficeAssignments.Dto.OfficeAssignmentsDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Teacher"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Teacher.FullName">@Model.Teacher.FullName</label>
        </dd>
        <dt>
            <label asp-for="Location"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Location">@Model.Location</label>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to home</a>

</div>
