@model IEnumerable<Servicies.Grades.Dto.GradeDto>

@{
    ViewData["Title"] = "GradeList";
}

<h1>List of grade</h1>

<p>
    <a asp-action="Create" value="Create" class="btn btn-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
        </tr>
}
    </tbody>
</table>
