@model Servicies.Departments.Dto.DepartmentDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt>
            <label asp-for="Name"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Name">@Model.Name</label>
        </dd>
        <dt>
            <label asp-for="Budget"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Budget">@Model.Budget</label>
        </dd>
        <dt>
            <label asp-for="StartDate"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="StartDate">@Model.StartDate</label>
        </dd>
        <dt>
            <label asp-for="Teacher"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Teacher.FullName">@Model.Teacher.FullName</label>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="List">Back to List</a>
        </div>
    </form>
</div>
