@model Servicies.Courses.Dto.CourseDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Course</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt>
            <label asp-for="Title"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Title">@Model.Title</label>
        </dd>
        <dt>
            <label asp-for="Credits"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Credits">@Model.Credits</label>
        </dd>
        <dt>
            <label asp-for="Department"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Department.Name">@Model.Department.Name</label>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
