@model Servicies.Courses.Dto.CourseDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credits" class="control-label"></label>
                <input asp-for="Credits" class="form-control" />
                <span asp-validation-for="Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                        <option value="">-- Select Department --</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Enrollments" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId">
                        <option value="">-- Select Student --</option>
                    </select>
                    <span asp-validation-for="StudentId" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CourseAssignments" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId">
                        <option value="">-- Select Teacher --</option>
                    </select>
                    <span asp-validation-for="TeacherId" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
