@model Servicies.ClassRooms.Dto.AddUserClassDto

@{
    ViewData["Title"] = "AddUserToClass";
}

<h1>Add user</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassRoomId" class="control-label"></label>
                <input asp-for="ClassRoomId" class="form-control" />
                <span asp-validation-for="ClassRoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeId" class="control-label"></label>
                <input asp-for="GradeId" class="form-control" />
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ClassList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
